<div class="msg">
    {{%REPLY_CONTENT}}
    <div class="row" style="justify-content: flex-start;">
        <img class="pfp" src="{{%PFP}}">
        <div class="msg-content-wrapper">
            <div class="msg-info">
                <h3 class="msg-username sel">{{%USERNAME}}</h3>
                <span class="msg-date sel">{{%DATE}}</span>
            </div>
            <p class="msg-content sel">{{%CONTENT}}</p>
        {{%ATTACH_CONTENT}}
        {{%GIFS}}
        {{%STICKER_CONTENT}}
        </div>
    </div>
</div>